body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.gCentredRowBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gStartBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gFlexJustifyBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gCentredColumnBox {
    flex: 1;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.gImageContainer {
    flex: 1;
    display: flex;
    min-width: 30rem;
    min-height: 30rem;
    align-items: center;
}

.gFullImage {
    width: 100%;
    height: 100%;
}

.gHovered {
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
